@import url(~sanitize.css);

body {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #274754;
}

#sim {
    width: 80vw;
    aspect-ratio: 16/9;
    border: 1px solid white;
}

#chart {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    aspect-ratio: 16/9;
    background-color: #040728;
}
