@import url(~sanitize.css);

body {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #274754;
    overflow: hidden;
}

#sim {
    width: 80vw;
    aspect-ratio: 16/9;
    border: 1px solid white;
}

#chart-container {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 120px;
    aspect-ratio: 16/9;
    background-color: #040728;

    &.maximized {
        width: 160vh;
    }
}

