@import url(~sanitize.css);

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #274754;
}

canvas {
  width: 80vw;
  aspect-ratio: 16/9;
  border: 1px solid white;
}

